:root {
  --primaryColor: #212121;
  --secondaryColor: #757575;
  --accentColor: #2196F3;
  --bgW: #FFFFFF;
  --bgG: #2F303A;
  --bgLG: #F5F4FA;
  --logoBlack: #000000;
  --iconG: #AFB1B8;
  --cardGap: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms ;
}

.clients__list, .team__card, .performance__image-list, .benefits__columns, .header__container, .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client__link, .performance__item p, .benefits__thumb, .modal__close-btn, .portfolio__filter-list, .social__link, .primary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__tel,
.contacts__mail, .header__contacts, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__title, .check__box, .portfolio__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.clients__title, .team__title, .performance__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 50px auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primaryColor);
  background: var(--bgW);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.benefits,
.performance,
.team,
.clients,
.card {
  padding: 94px 0 94px 0;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}

.icon {
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}

.link:hover,
.link:focus,
.btn:hover,
.btn:focus,
.icon:hover,
.icon:focus {
  color: var(--accentColor);
}

.primary-btn {
  margin: 0 auto;
  padding: 10px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgW);
  background-color: var(--accentColor);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic);
}
.primary-btn:focus, .primary-btn:hover {
  background-color: #188CE8;
  color: var(--bgW);
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.logo-black {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--logoBlack);
  margin-right: 93px;
}
.logo-black span {
  color: var(--accentColor);
}
.logo-black:hover, .logo-black:focus {
  color: var(--logoBlack);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  padding: 32px 0;
}

.nav__link--current {
  color: var(--accentColor);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% + 3px);
  height: 4px;
  background: var(--accentColor);
  border-radius: 2px;
  pointer-events: none;
}

.header__contacts {
  gap: 50px;
}

.contacts__tel,
.contacts__mail {
  color: var(--secondaryColor);
  fill: currentColor;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  padding: 5px 0;
  gap: 10px;
}

.footer {
  background: var(--bgG);
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--bgW);
  display: inline-block;
  margin-bottom: 20px;
}
.logo-white span {
  color: var(--accentColor);
}
.logo-white:hover, .logo-white:focus {
  color: var(--bgW);
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--bgW);
}

.footer__mail,
.footer__tel {
  line-height: 1.71;
  color: var(--secondaryColor);
  font-size: 14px;
}

.footer__socials {
  width: 210px;
  margin-left: 70px;
}

.footer__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bgW);
  margin-bottom: 20px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bgW);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: var(--accentColor);
  color: var(--bgW);
}

.footer__subscribe {
  width: calc(50% - 15px);
  margin-left: auto;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  -webkit-transition: border-color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  cursor: pointer;
}
.footer__input:hover {
  border-color: var(--accentColor);
}
.footer__input:focus {
  border-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 0px 1px whitesmoke;
          box-shadow: 0px 0px 0px 1px whitesmoke;
}

.primary-btn--logos {
  gap: 10px;
}

.portfolio__filter-list {
  margin-bottom: 50px;
  gap: 8px;
}

.filter-button {
  background: var(--bgLG);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  -webkit-transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic), color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic), color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
}
.filter-button:hover, .filter-button:focus {
  background-color: var(--accentColor);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--bgW);
}

.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--cardGap);
}

.portfolio__card {
  -ms-flex-preferred-size: calc((100% - var(--cardGap) * 2) / 3);
      flex-basis: calc((100% - var(--cardGap) * 2) / 3);
}

.portfolio__card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--cubic);
  transition: -webkit-box-shadow var(--duration) var(--cubic);
  transition: box-shadow var(--duration) var(--cubic);
  transition: box-shadow var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
}
.portfolio__card-link:hover, .portfolio__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: inherit;
}

.portfolio__card-thumb {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.portfolio__card-overlay {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--bgW);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
  transition: z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), z-index var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
}
.portfolio__card-link:hover .portfolio__card-overlay, .portfolio__card-link:focus .portfolio__card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.portfolio__card-description {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__card-text {
  line-height: 1.88;
  color: var(--secondaryColor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity var(--duration) var(--cubic), visibility var(--duration) var(--cubic), display var(--duration) var(--cubic), z-index var(--duration) var(--cubic);
  transition: opacity var(--duration) var(--cubic), visibility var(--duration) var(--cubic), display var(--duration) var(--cubic), z-index var(--duration) var(--cubic);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  z-index: -1;
  min-width: 528px;
  padding: 40px;
  background: var(--bgW);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity var(--duration) var(--cubic), z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
  transition: opacity var(--duration) var(--cubic), z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), opacity var(--duration) var(--cubic), z-index var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), opacity var(--duration) var(--cubic), z-index var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
}
.modal p {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primaryColor);
  margin-bottom: 12px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: inherit;
  fill: currentColor;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}

.input {
  margin-bottom: 10px;
}

.input__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondaryColor);
  margin-bottom: 4px;
}

.input__wrap {
  position: relative;
}

.input__field,
.input__textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic), -webkit-box-shadow var(--duration) var(--cubic);
}
.input__field:hover,
.input__textarea:hover {
  border-color: var(--accentColor);
}
.input__field:focus,
.input__textarea:focus {
  border-color: black;
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

.input__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primaryColor);
  cursor: pointer;
  -webkit-transition: fill var(--duration) var(--cubic);
  transition: fill var(--duration) var(--cubic);
}
.input__field:focus + .input__icon, .input__field:hover + .input__icon, .input__icon:hover {
  fill: var(--accentColor);
}

.input__comment {
  margin-bottom: 20px;
}

.check {
  display: block;
  padding-left: 35px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondaryColor);
  position: relative;
  margin-bottom: 30px;
}

.check__square {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primaryColor);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: background-color var(--duration) var(--cubic), border-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic), border-color var(--duration) var(--cubic);
}
.check__box:checked + .check__square {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  background-origin: border-box;
}
.check__box:focus + .check__square, .check__square:hover {
  border-color: var(--accentColor);
}

.check__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.check__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accentColor);
}

.effective {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/heroBG.jpg") center no-repeat, var(--bgG);
  background: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heroBG.jpg") center no-repeat, var(--bgG);
  background-size: cover;
  padding: 200px 0;
}

.effective__title {
  margin: 0 auto 30px auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--bgW);
}

.benefits__article {
  -ms-flex-preferred-size: calc((100% - var(--cardGap) * 3) / 4);
      flex-basis: calc((100% - var(--cardGap) * 3) / 4);
}
.benefits__article h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__article p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondaryColor);
}

.benefits__thumb {
  height: 120px;
  background-color: var(--bgLG);
  margin-bottom: var(--cardGap);
}

.performance {
  padding-top: 0;
}

.performance__item {
  position: relative;
}
.performance__item p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bgW);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--bgLG);
}

.team__developer {
  background: var(--bgW);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__developer h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.team__developer p {
  line-height: 1.2;
  text-align: center;
  color: var(--secondaryColor);
  margin-bottom: 16px;
}

.team__description {
  padding: 30px 30px;
}

.social__link--team {
  color: var(--iconG);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
}
.social__link--team:focus, .social__link--team:hover {
  color: var(--bgW);
  background-color: var(--accentColor);
}

.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--iconG);
  border-radius: 4px;
  color: var(--iconG);
  fill: currentColor;
  -webkit-transition: border var(--duration) var(--cubic), color var(--duration) var(--cubic);
  transition: border var(--duration) var(--cubic), color var(--duration) var(--cubic);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accentColor);
}/*# sourceMappingURL=main.css.map */