.benefits__card {
    flex-basis: calc((100% - var(--cardGap)*3) / 4);
}

.benefits__sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondaryColor);
}

.benefits__thumb {
    @extend %flexAcJc;
    height: 120px;
    background-color: var(--bgLG);
    margin-bottom: var(--cardGap);
}