.client__link {
    @extend %flexAcJc;
    width: 170px;
    height: 92px;
    border: 1px solid var(--iconG);
    border-radius: 4px;
    color: var(--iconG);
    fill: currentColor;
    transition: border var(--duration) var(--cubic),
    color var(--duration) var(--cubic);

    &:hover,
    &:focus {
        border: 1px solid var(--accentColor);
    }
}