.footer__address-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--bgW);
}

.footer__mail,
.footer__tel {
    line-height: 1.71;
    color: var(--secondaryColor);
    font-size: 14px;
}