.header {
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    @extend %flexSB;
    align-items: center;
}

.header__nav {
    @extend %flexAc;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.logo-black {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--logoBlack);
    margin-right: 93px;

    & span {
    color: var(--accentColor);
    }

    &:hover,
    &:focus {
    color: var(--logoBlack);
    }
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav__link {
    padding: 32px 0;
}

.nav__link--current {
    color: var(--accentColor);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1.5px;
        transform: translateX(-50%);
        width: calc(100% + 3px);
        height: 4px;
        background: var(--accentColor);
        border-radius: 2px;
        pointer-events: none;
        }
}

.header__contacts {
    @extend %flexAc;
    gap: 50px;
}

.contacts__tel,
.contacts__mail {
    @extend %flexAc;
    color: var(--secondaryColor);
    fill: currentColor;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 5px 0;
    gap: 10px;
}