:root {
    --primaryColor: #212121;
    --secondaryColor: #757575;
    --accentColor: #2196F3;
    --bgW: #FFFFFF;
    --bgG: #2F303A;
    --bgLG: #F5F4FA;
    --logoBlack: #000000;
    --iconG: #AFB1B8;
    --cardGap: 30px;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms
}